<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Category ID</title>
    <link href="/bootstrap.min.css" rel="stylesheet" />
        <style>
        .header-image {
            width: 105%; /* Increase the width of the image */
            max-width: none; /* Remove max-width restriction */
            height: auto; /* Allow the height to adjust automatically */
        }
        </style>
</head>
<body>
    <div class="container mt-5">
    <div class="text-center">
        <img src="/Category.png" alt="Header GIF" class="img-fluid header-image">
    </div>
    </div>
    <div class="container mt-5 text-center">
    <h2 class="mb-4">Please enter a valid Category ID after '/category'</h2>
    <a href="/" class="btn btn-primary">Home</a>
    </div>

</body>
</html>
